{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load django_bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'stylesignup.css' %}">
    <title>Signup to Amyca </title>
</head>
<body>
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-6">
                <header> Welcome, {{username}} </header>
                <header> Reset your password</header>
                <form action='/resetpassword/' method="POST">
                    {% csrf_token %}
                        <input type="password" class="input-field bg-danger text-light ml-50" placeholder="Enter new password" name="password"
                            id="password" onfocusout="passwordValidation()" required>
        
                        <input type="password" class="input-field" placeholder="Confirm password" name="confirmedPassword"
                            id="confirmed_password" oninput="password_Confirmation()" required>
                    <div>
                        <p id="password_mismatch"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <input id="submitButton" type="submit" class="submit" disabled value="Reset password" onfocus="submission()"></div>
                </form>
            </div>
        </div>
           
                    
        </div>
    </div>
    <!-- <div class="box">
        <div class="container">
            <div class="top-header">
                <header> Welcome, {{username}} </header>
                <header> Reset your password</header>
        <form action='/resetpassword/' method="POST">
            {% csrf_token %}
            <div class="input-field">
                <input type="password" class="input bg-danger text-light" placeholder="Password" name="password"
                    id="password" onfocusout="passwordValidation()" required>
            </div>

            <div class="input-field">
                <input type="password" class="input" placeholder="Confirm password" name="confirmedPassword"
                    id="confirmed_password" oninput="password_Confirmation()" required>
            </div>
            <div>
                <p id="password_mismatch"></p>
            </div>
            <div class="input-field">
                <input id="submitButton" type="submit" class="submit" disabled value="Reset password" onfocus="submission()"></div>
        </form>

        
        </div>
    </div> -->

    <script>
        function passwordChecker(password) {
            has_at_least_one_number = /\d/.test(password);
            has_at_least_one_capital_letter =  /[A-Z]/.test(password);
            specialCharacter_Regex = new RegExp("^(?=.*[!@#$%^&*])");
            has_at_least_one_special_character = specialCharacter_Regex.test(password);
            console.log(has_at_least_one_capital_letter, has_at_least_one_number);
            if ((password.length >= 4) && has_at_least_one_capital_letter && has_at_least_one_number && has_at_least_one_special_character) {
                console.log("valid");
                return true;
            }
            else {
                console.log("invalid");
                return false;
            }
        }

        function passwordValidation() {
            console.log("password validation");
            password = document.getElementById("password");
            passwordIsValid = passwordChecker(password.value);
            console.log("valid password");
            password.setAttribute("class", "input bg-none text-white");
            console.log(password.setAttribute("class", "input text-light"));
            console.log(passwordIsValid);
            if (passwordIsValid) {
                password.setAttribute("class", "input-field text-light")
            }
            else {
                password.setAttribute("class", "input-field bg-danger text-light")
                alert("Password must be at least 6 characters long. \nIt must contain: \n1. At least one number\n2. At least one special character\n3. At least one capital letter");
            }
        }

        function password_Confirmation() {

            console.log("validating password");
            password = document.getElementById("password").value;

            confirmed_password = document.getElementById("confirmed_password").value;
            passwordIsValid = passwordChecker(password)
            confirmed_passwordIsValid = passwordChecker(confirmed_password)
            passwords_are_valid = passwordIsValid && confirmed_passwordIsValid;
            console.log(password, confirmed_password);
            if (passwordIsValid) {
                if (password == confirmed_password) {
                    document.getElementById("submitButton").disabled = false;
                    document.getElementById("password_mismatch").innerHTML = "";

                }
                else {
                    document.getElementById("submitButton").disabled = true;
                    document.getElementById("password_mismatch").innerHTML = "Passwords do not match. Confirm the password correctly";
                    document.getElementById("password_mismatch").style.color = "#ffffff";
                    document.getElementById("password_mismatch").style.textAlign = "center"

                }
            }
            else {
                alert("Password must be at least 6 characters long. \nIt must contain: \n1. At least one number\n2. At least one special character\n3. At least one capital letter");
            }
        }

    </script>
</body>
</html>