<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    {% load django_bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar bg-success navbar-expand-lg text-light">
                <div class="container-fluid">
                    <a class="navbar-brand m-9 p-0" href="/"><h4 class="display-5 m-0 p-0 text-light">Amyca</h4> <h6 class="m-0 fs-6 text text-white">a book keeping software</h6></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item ">
                            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        </li>
                        
                        <li class="nav-item ">
                            <a class="nav-link active text-light" aria-current="page" href="#">
                                <button type="button" class="btn btn-light">Payroll</button>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href='/subscription_plans/'>
                                <button type="button" class="btn btn-light display-5">Subscription plans</button>
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Welcome, {{username}}
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href='/editprofile/'>View profile</a></li>
                          <li><a class="dropdown-item" href='/logout/'>Log out</a></li>
                        </ul>
                      </div>
                    
                    </div>
                </div>
            </nav>  
        </div>
        <div class="row mt-2">
            <div class="row justify-content-center">
            
                <div class="col-8">
                    <div class="card mt-1 p-2">
                        <div class="card-body">
                            <div class="row">
                                
                                
                                <div class="col-12">
                                    <div class="card bg-light">
                                        <div class="card-body">
                                            <form action='/upload_csv/' method="POST" enctype="multipart/form-data" class="form-horizontal"> 
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Choose the .csv file</label>
                                                    <div class="col-md-12">
                                                        <input type="file" name="csv_file" id="csv_file" required="True" class="form-control" multiple>
                                                    </div>                    
                                                </div>
                                                <div class="form-group">                    
                                                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                                                    </div> 
                                                </div>
                                                <div class="mb-3 mt-4">
                                                    <label for="exampleFormControlInput1" class="form-label">Select the type of account</label>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                                <label class="form-check-label" for="flexRadioDefault1">
                                                                  Checking account
                                                                </label>
                                                              </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                                <label class="form-check-label" for="flexRadioDefault1">
                                                                  Credit card
                                                                </label>
                                                              </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                                <label class="form-check-label" for="flexRadioDefault1">
                                                                  Savings account
                                                                </label>
                                                              </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                          Does the .csv file have labels like shown below?
                                                        </label>
                                                    </div>
                                                    <div class="row text-center">
                                                        <div class="col-12">
                                                            <img src="../static/screenshot.png" class="card-img-top" alt="..." style="width: 60%;">
                                                        </div>
                                                    </div>
                                                  </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                 
                            <div class="row text-center">
                                <div id="sender">
                                    <button type="submit" class="btn btn-warning  mt-2" id="button" >Upload</button>
                                </div>
                            </div>   
                                            </form>

                               
                                
                            </form>
                        </div>
    
                      </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </body>
</html>